**Define the necessary libraries** (1 mark)

In [2]:
import pandas as pd
import seaborn as sns

**Load the dataset into the dataframe** (1 mark)

In [3]:
df = pd.read_csv('BigmartSales.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

**Drop the "Item_Identifier" and "Outlet_Identifier" columns** (1 mark)

**Extract the target labels** (1 mark)

**Replace the field "Item_Fat_Content" with numerical value** (1 mark)

array([0, 1], dtype=int64)

**Perform ordinal encoding of the "Item_Type", "Outlet_Type", "Outlet_Location_Type" and "Outlet_Type" field** (1 mark)

**Imputation of "Outlet_Size" field with mode value** (1 mark)

**Check for null values** (1 mark)

**Imputation of "Item_Weight" field with mode value** (1 mark)

**Display all field in the dataset using boxplot** (1 mark)

**Split the dataset into train and test(20%), apply Linear Regression and calculate RMSE value** (1 mark)

**Apply StandardScaller and split the dataset into train and test(20%)** (1 mark)

**Display all field in the dataset using boxplot** (1 mark)

**Apply Linear Regression and calculate RMSE value** (1 mark)

**Apply MinMaxScaler, split the dataset into train and test(20%), apply LinearRegression and calculate RMSE** (1 mark)

**Apply RobustScaler,Split the dataset into train and test(20%), apply LinearRegression and calculate RMSE** (1 mark)

**Apply MaxAbsScaler, split the dataset into train and test(20%), apply LinearRegression and calculate RMSE** (1 mark)

**Apply Normalizer, split the dataset into train and test(20%), apply LinearRegression and calculate RMSE** (1 mark)

**Define a function valuelabel to place the legend of each bar in the histogram** (1 mark)

**Plot a histogram to display the RMSE value of each scaler** (1 mark)